.info-game {
  overflow: hidden;

  &__video {
    width: 100% !important;
    height: 62rem !important;
  }

  &__content {
    padding: 1.4rem;
    color: $font-grey;

    &-date {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      font-size: 1.5rem;

      h4 {
        color: $primary;
        font-size: 1.5rem;
        margin: 0 1rem 0 0;
      }
    }
  }
}
