.account {
  &__configuration {
    position: relative;
    padding: 1rem;
    overflow-y: auto;

    .title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    .data {
      background-color: $background-light;
      box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__adresses {
    .title {
      i {
        position: absolute;
        right: 10px;
        color: $font-dark;
      }
    }
  }
}
